$title-txt-color: #494c4e;
$txt-color: #929aa3;
$main-bg: #f6f6f6;
$primary-color: #7abc64;
$secondary-color: #fff;

$site-introduction-bg: #353637;

$input-bg: #f7f7f7;
$input-color: #c0b8b1;

$card-box-shadow: 0px 40px 40px -2px #ececec;
