$title-txt-color: #494c4e;
$txt-color: #929aa3;
$main-bg: #f6f6f6;
$primary-color: #7abc64;
$secondary-color: #fff;
$latest-news-shadow: #7799ad;

$site-introduction-bg: #353637;

$input-bg: #f7f7f7;
$input-color: #c0b8b1;

$card-box-shadow: 0px 40px 40px -2px #ececec;

$footer-icon-color: #bbcbd3;
$footer-credits-bg: #1c1d1e;

$chevron-up-bg: #313131;
